<div class="jumbotron">
  <h1 class="display-4">
    <%= @book.title %>
  </h1>
  <p class="lead">
    <strong>Author:</strong> <%= @book.author %>
  </p>
  <p class="lead">
    <strong>ISBN:</strong> <%= @book.isbn %>
  </p>
  <br/>

  <h4>Book Copies</h4>
  <br/>
  <% if @book_copies.any? %>
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Serial Number</th>
          <th>Availability</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @book_copies.each do |copy| %>
          <tr>
            <td><%= copy.serial_number %></td>
            <td><%= copy.available? ? "Available" : "Not Available" %></td>
            <td>
              <%= link_to "Delete", book_copy_path(copy), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No copies available.</p>
  <% end %>
  <br/>
  <%= link_to 'Back', books_path, class: "btn btn-secondary btn-sm" %>
  <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-outline-secondary btn-sm" %>
  <%= link_to 'Delete', book_path(@book), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
    
</div>