<%= form_with(model: [@book, @book_copy], local: true) do |form| %>
    <% if book_copy.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

            <ul>
                <% book.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field form-group">
        <% form.label :serial_number %>
        <%= form.text_field :serial_number, class: "form-control", placeholder:"Serial Number" %>
    </div>
    <br/>

    <div class="actions">
        <%= form.submit "Create Copy", class: "btn btn-secondary btn-sm" %>
    </div>
<% end %>